NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_CONTACT_PHONE=+255 712 345 678
NEXT_PUBLIC_CONTACT_EMAIL=journeys@mansa.travel
NEXT_PUBLIC_WHATSAPP_NUMBER=255712345678
NEXT_PUBLIC_CONTACT_ADDRESS=Zanzibar, Tanzania
NEXT_PUBLIC_INSTAGRAM_URL=https://instagram.com/mansa.travel
NEXT_PUBLIC_FACEBOOK_URL=https://facebook.com/mansa.travel
NEXT_PUBLIC_WEBSITE_URL=https://mansa.travel
